

<%= form_for( @trano, :html => { :multipart => true }) do |f| %>


<%= f.fields_for :trano do |p| %>
<div class="field">
 <%= p.label :url %><br>
 <%= p.file_field :url, :multiple => true, name:     "photos[url][]" %>
</div>
<% end %>

<input type="hidden" name="mpanera_id" value="<%= current_mpanera.id %>">
<div class="actions">
 <%= f.submit %>
</div>
<% end %>
