<!DOCTYPE html>
<html lang="en">
<body class="landing-page sidebar-collapse">
  
  <nav class="navbar fixed-top navbar-expand-lg bg-primary" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="https://demos.creative-tim.com/material-kit/index.html">
        E-Louer </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>

        <% if user_signed_in?%>
        <span>Etudiant:</span>
        <span> <%= current_user.fullname %>   </span>
        <% elsif mpanera_signed_in? %>
        <span>Mpanera:</span>
        <span><%= current_mpanera.fullname %>   </span>
        <% end %>


      </div>
      


      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> Components
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="index.html" class="dropdown-item">
                <i class="material-icons">layers</i> All Components
              </a>
              <a href="https://demos.creative-tim.com/material-kit/docs/2.0/getting-started/introduction.html" class="dropdown-item">
                <i class="material-icons">content_paste</i> Documentation
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/page/logement" onclick="scrollToDownload()">
              <i class="material-icons">home</i>Voir les logements
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank"
            data-original-title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>

        <li class="dropdown nav-item">
          <a href="#pablo" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">account_circle</i>
            <b class="caret"></b>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <% if user_signed_in? %>
            <a ><%= link_to "Se déconnecter", destroy_user_session_path, class: "dropdown-item", method: :delete %></a>
            <% elsif mpanera_signed_in? %>
            <a ><%= link_to "Se déconnecter", destroy_mpanera_session_path, class: "dropdown-item", method: :delete %></a>
            <% else %>
            <h6 class="dropdown-header">S'enregistrer en tant que</h6>
            <a ><%= link_to "Etudiant", new_user_registration_path, class: "dropdown-item" %></a>
            <a ><%= link_to "Mpanera", new_mpanera_registration_path, class: "dropdown-item" %></a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Se connecter en tant que:</h6>
            <a ><%= link_to "Etudiant", new_user_session_path, class: "dropdown-item" %></a>
            <a ><%= link_to "Mpanera", new_mpanera_session_path, class: "dropdown-item" %></a>
            <% end %>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>

<div class="page-header header-filter" data-parallax="true" style="background-image: url('/assets/bg_ankatso_bg.jpg')">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Logements Pour Tous les étudiants.</h1>
        <h4>Every landing page needs a small description after the big bold title, that&apos;s why we added this text here.
        Add here all the information that can make you or your product create the first impression.</h4>
        <br>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank" class="btn btn-danger btn-raised btn-lg">
          <i class="fa fa-play"></i> Regarder vidéo tuto du site
        </a>
      </div>
    </div>
  </div>
</div>



<div class="main main-raised">
  <div class="container">
    <div class="section text-center">
      <div class="row">
        <div class="col-md-12 ml-auto mr-auto">
          <h2 class="title">Parlons du problème</h2>
          <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing
            meaningful information. Remember that by this time, the user is curious, otherwise he wouldn&apos;t scroll
          to get here. Add a button if you want the user to see more.</h5>
        </div>
      </div>

      <div class="title">
        <h3 class="title">Recheche de logements rapides</h3>

      </div>

      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Début</label>
            <input type="date" class="form-control" id="date" placeholder="Début">
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Fin</label>
            <input type="date" class="form-control" id="date" placeholder="Fin">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail4">Lieu</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="Tananarive">
        </div>
        <div class="form-group">

          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>



        <button type="submit" class="btn btn-primary">Rechercher</button>
      </form>

      <div class="title">
        <h3 class="title">Les logements récemment ajoutés</h3>
      </div>

      <div class="team">
        <div class="row">

          <div class="col-md-4 ml-auto mr-auto">
            <div class="card">
              <img class="card-img-top" src="../assets/logements/log.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Consulter</a>
                <a href="#" class="card-link">Mpanera de ce trano</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 ml-auto mr-auto">
            <div class="card">
              <img class="card-img-top" src="../assets/logements/log.jpg" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Consulter</a>
                <a href="#" class="card-link">Mpanera de ce trano</a>
              </div>
            </div>
          </div>

          <div class="col-md-4 ml-auto mr-auto">
            <div class="card">
              <img class="card-img-top" src="../assets/logements/log.jpg" alt="Card image cap">
              <div class="card-body">
               
                <p class="card-text">

                </p>
                <a href="/page/logement" class="btn btn-primary">Voir Plus ... </a>
              </div>
            </div>
          </div>

        </div>
      </div>


      <div class="title">
        <h3>Ce que nous faisons</h3>
      </div>




      <div class="features">
        <div class="row">
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-info">
                <i class="material-icons">work</i>
              </div>
              <h4 class="info-title">Opportunité</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph
              describing a feature will be enough.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-success">
                <i class="material-icons">local_offer</i>
              </div>
              <h4 class="info-title">Verified Users</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph
              describing a feature will be enough.</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info">
              <div class="icon icon-danger">
                <i class="material-icons">home</i>
              </div>
              <h4 class="info-title">Fingerprint</h4>
              <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph
              describing a feature will be enough.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section text-center">
      <h2 class="title">Les équipes</h2>
      <div class="team">
        <div class="row">
          <div class="col-md-4">
            <div class="team-player">
              <div class="card card-plain">
                <div class="col-md-6 ml-auto mr-auto">
                  <img src="../assets/faces/avatar.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                </div>
                <h4 class="card-title">Gigi Hadid
                  <br>
                  <small class="card-description text-muted">Model</small>
                </h4>
                <div class="card-body">
                  <p class="card-description">You can write here details about one of your team members. You can give more details about what they
                    do. Feel free to add some
                    <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="#pablo" class="btn btn-link btn-just-icon">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-link btn-just-icon">
                      <i class="fa fa-instagram"></i>
                    </a>
                    <a href="#pablo" class="btn btn-link btn-just-icon">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="../assets/faces/christian.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Christian Louboutin
                    <br>
                    <small class="card-description text-muted">Designer</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">You can write here details about one of your team members. You can give more details about what they
                      do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                    </div>
                    <div class="card-footer justify-content-center">
                      <a href="#pablo" class="btn btn-link btn-just-icon">
                        <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#pablo" class="btn btn-link btn-just-icon">
                        <i class="fa fa-linkedin"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="team-player">
                  <div class="card card-plain">
                    <div class="col-md-6 ml-auto mr-auto">
                      <img src="../assets/faces/kendall.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                    </div>
                    <h4 class="card-title">Kendall Jenner
                      <br>
                      <small class="card-description text-muted">Model</small>
                    </h4>
                    <div class="card-body">
                      <p class="card-description">You can write here details about one of your team members. You can give more details about what they
                        do. Feel free to add some
                        <a href="#">links</a> for people to be able to follow them outside the site.</p>
                      </div>
                      <div class="card-footer justify-content-center">
                        <a href="#pablo" class="btn btn-link btn-just-icon">
                          <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#pablo" class="btn btn-link btn-just-icon">
                          <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#pablo" class="btn btn-link btn-just-icon">
                          <i class="fa fa-facebook-square"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>

          <div class="section section-contacts">
            <div class="row">
              <div class="col-md-8 ml-auto mr-auto">
                <h3 class="text-center title">Pour nous contacter ou pour plus d' information</h3>
                <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us
                about any further collaboration. We will responde get back to you in a couple of hours.</h4>
                <form class="contact-form">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Your Name</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="bmd-label-floating">Your Email</label>
                        <input type="email" class="form-control">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                    <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
                  </div>
                  <div class="row">
                    <div class="col-md-4 ml-auto mr-auto text-center">
                      <button class="btn btn-primary btn-raised">
                        Envoyer message
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-default">
        <div class="container">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://www.creative-tim.com">
                  About
                </a>
              </li>

              <li>
                <a href="https://blog.creative-tim.com">
                  Contact
                </a>
              </li>
              <li>
                <a href="https://www.creative-tim.com/license">
                  Licenses
                </a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <script>
              document.write(new Date().getFullYear())
            </script>, made with
            <i class="material-icons">favorite</i> by
            <a href="https://www.creative-tim.com" target="_blank">E-Louer</a> Team.
          </div>
        </div>
      </footer>


    </body>

    </html>